@font-face {
  font-family: "iconfont"; /* Project id 5032276 */
  src: url('iconfont.woff2?t=1759026534785') format('woff2'),
       url('iconfont.woff?t=1759026534785') format('woff'),
       url('iconfont.ttf?t=1759026534785') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-docdocx:before {
  content: "\e661";
}

.icon-PDF-copy:before {
  content: "\e7ad";
}

