.layout-content {
  width: 100%;
  padding: 65px 0 0 0;
  height: calc(100vh - 65px);
  display: flex;
  background-color: #f4f2f8; 
  .outlet {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }
}
