.layout-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 65px;
  z-index: 9;
  padding: 0 34px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fbfbfbfb;
  img.user-img {
    width: 25px;
    height: 25px;
    margin-right: 24px;
    object-fit: cover;
  }
}
