.add-knowledge {
  background-color: #efefef;
  .left-content {
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 32px 24px 16px;
    width: 490px;

    .top-box {
      position: relative;
      padding-bottom: 8px;
      color: #333;
      .chose {
        .chose-txt {
          cursor: pointer;
          width: 64px;
        }

        .active-line {
          transition: all 0.5s;
          position: absolute;
          background-color: var(--primary-blue);
          bottom: 0;
          width: 64px;
          height: 2px;
        }
      }
    }

    .btn-confirm {
      background-color: var(--primary-blue);
      color: #fff;
      border-radius: 5px;
      padding: 3px 16px;
      cursor: pointer;
    }

    .form-box {
      flex: 1;
      padding: 24px;
      background-color: #fff;

      .ant-form-item {
        margin-bottom: 32px;
      }
    }
  }

  .right-content {
    padding: 40px 100px 40px 40px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: #fff;

    .icon-img {
      img {
        width: 35px;
        height: 35px;
        object-fit: cover;
      }
    }
  }
}
